<!-- Site footer -->
<div class="footer">

    <div id="footernav" class="row">

        <div class="col-sm-12">
            <ul class="nav nav-justified">

                <li ng-class="{active:isActive('/aboutme')}">
                    <a href="/#/aboutme">
            	About Me
            </a>
                </li>
                <li ng-class="{active:isActive('/cv')}">
                    <a href="/#/cv">
            	CV & Resume
            </a>
                </li>
                <li ng-class="{active:isActive('/contact')}">
                    <a href="/#/contact">
				Contact Me
            </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        
        <div class="col-sm-4">
            <p class="footersmall">Email: tommi.kauraaho@gmail.com</p>
        </div>

        <div class="col-sm-4">
            <p class="footersmall">Phone: +358 400 541 984</p>
        </div>

        <div class="col-sm-4">
            <p class="footersmall">Skype: live:tommika90</p>
        </div>



    </div><div class="row">
    	<div class="col-sm-3">
    		<p class="centered text-muted">Constructed with <a target="_blank" href="http://angularjs.org/">AngularJS</a></p>
    	</div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3">
            <p class="text-muted centered">Copyright &copy; Grietom.com</p>
        </div>
    </div>
</div>
