<div ng-include=" 'views/partials/header.html' "></div>
<div class="">
    <h2>Welcome</h2>
    <p>Welcome to my site! I am Tommi aka TomaH0 aka Grietom (and various other nicks I don't remember anymore) and this is my personal website/webapplication where I can introduce myself, showcase my work and leave a little trace behind me for posterity's sake.</p>
    <p>I am still a budding professional just entering the mighty profession of a web-developer so this is still a small site. Nevertheless explore, read, look and enjoy my work and if you do find yourself interested for more, contact me, friend me and whatnot.</p>
</div>
<div ng-include=" 'views/partials/footer.html' "></div>
